.text-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
  width:100%;
  text-align:left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.text-distributed .text-left,
.text-distributed .text-center,
.text-distributed .text-right{
  display: inline-block;
  vertical-align: top;
}

/*text left*/
.text-distrbuted .text-left{
  width:40%;
}

/*Company logo*/
.text-distributed h3{
  color: #55efc4;
  font: normal 36px 'Cookie', cursive;
  margin:0;
}

.text-distributed h3 span{
  color: #5383d3;
}

/*text links*/
.text-distributed .text-links{
  color: #ffffff;
  margin: 20px 0 12px;
  padding:0;
}

.text-distributed .text-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.text-distributed .text-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* text Center */

.text-distributed .text-center{
	width: 35%;
}

.text-distributed .text-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.text-distributed .text-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}


.text-distributed .text-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.text-distributed .text-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.text-distributed .text-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* text Right */

.text-distributed .text-right{
	width: 20%;
}

.text-distributed .text-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.text-distributed .text-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.text-distributed .text-icons{
	margin-top: 25px;
}
/*
.text-distributed .text-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}
.fa-linkedin{
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


/* Responsiveness for text */
@media (max-width: 880px) {

	.text-distributed{
		font: bold 14px sans-serif;
	}

	.text-distributed .text-left,
	.text-distributed .text-center,
	.text-distributed .text-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.text-distributed .text-center i{
		margin-left: 0;
	}

}
